<div>
  <h3>ElementComponent</h3>
  <div class="block-secondary">
    <div><strong>RootService</strong></div>
    <div>count: {{ rootServiceCount }}</div>
    <button type="button" (click)="incrementRootServiceCount()">+</button>
  </div>
  <div class="block-secondary">
    <div><strong>FeatureService</strong></div>
    <div>count: {{ featureServiceCount }}</div>
    <button type="button" (click)="incrementFeatureServiceCount()">+</button>
  </div>
  <div class="block">
    <div><strong>ElementService</strong></div>
    <div>count: {{ elementServiceCount }}</div>
    <button type="button" (click)="incrementElementServiceCount()">+</button>
  </div>
</div>
