/* You can add global styles to this file, and also import other style files */

.block {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px #666 solid;
  border-radius: 0.5rem;
  font-size: small;
}

.block-secondary {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px #666 dashed;
  border-radius: 0.5rem;
  font-size: small;
  color: #666;
}
