<div>
  <h3>FeatureComponent</h3>
  <div class="block-secondary">
    <div><strong>RootService</strong></div>
    <div>count: {{ rootServiceCount }}</div>
    <button type="button" (click)="incrementRootServiceCount()">+</button>
  </div>
  <div class="block">
    <div><strong>FeatureService</strong></div>
    <div>count: {{ featureServiceCount }}</div>
    <button type="button" (click)="incrementFeatureServiceCount()">+</button>
  </div>
  <app-element></app-element>
  <app-element></app-element>
</div>
